body {
  font-size: 14px;
  color: black;
}

.kenekt-small-cover-fixed-height {
  height: 250px;
  position: relative !important;
}

.kenekt-small-cover-image {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

.kenekt-badge-white {
  background-color: white;
}

.kenekt-listed-date {
  font-size: 12px;
}

.kenekt-left-0 {
  left: 0;
}

.kenekt-top-0 {
  top: 0;
}

.kenekt-right-0 {
  right: 0;
}

.kenekt-card-body-fixed-height {
  height: 210px;
}

.kenekt-property-address {
  font-size: 14px;
  color: black;
  width: 300px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.kenekt-property-address a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.kenekt-property-address a img {
  height: 14px;
  width: 11px;
}

.kenekt-bed-bath-garage {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.kenekt-bed-bath-garage li {
  display: flex;
  align-items: center;
}

.kenekt-bed-bath-garage li img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.kenekt-bath-icon {
  height: 12px !important;
}

@media screen and (min-width: 991px) {
  .kenekt-badge-title {
    font-size: 14px;
  }
}
